.blue-bg {
  background: url("../../img/Craftsmanshipanddurability.jpg") no-repeat center center;
  background-size: cover;
}

.craftsmaship {
  background-color: $main-bg;

  .content-title, .text {
    color: $white;
  }

  .img-container {
    position: relative;
    margin: 122px auto 30px;
    text-align: center;
    min-height: 450px;

    .first-block, .second-block, .third-block, .fourth-block {
      position: absolute;
      z-index: 2;

      &:before {
        position: absolute;
        content: "";
        width: 198px;
        border-radius: 8px;
        border-top: 1px dashed rgba(255,255,255,.5);
        z-index: 2;
      }

      &:after {
        position: absolute;
        content: '';
        width: 40px;
        height: 40px;
        border-radius: 50%;
        bottom: -230%;
        right: -23%;
        background-color: rgba(67, 82, 121,.8);
        -webkit-box-shadow: 0px 0px 0px 8px rgba(67, 82, 121,.5);
        -moz-box-shadow: 0px 0px 0px 8px rgba(67, 82, 121,.5);
        box-shadow: 0px 0px 0px 8px rgba(67, 82, 121,.5);
        z-index: 5;
      }
    }

    .first-block-mobile, .second-block-mobile, .third-block-mobile, .fourth-block-mobile {
      display: none;
      position: relative;

      &:after {
        position: absolute;
        content: '1';
        color: $white;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        bottom: 0;
        left: 0;
        line-height: 40px;
        background-color: rgba(67, 82, 121,.8);
        -webkit-box-shadow: 0px 0px 0px 8px rgba(67, 82, 121,.5);
        -moz-box-shadow: 0px 0px 0px 8px rgba(67, 82, 121,.5);
        box-shadow: 0px 0px 0px 8px rgba(67, 82, 121,.5);
        z-index: 5;
      }

      .text {
        width: 50%;
        margin: 0 auto;
        line-height: 36px;
      }
    }

    .first-block-mobile {
      margin-top: 35px;

      &:after {
        bottom: 237px;
        left: 67px;
      }
    }

    .second-block-mobile {
      &:after {
        bottom: 227px;
        content: "2";
        left: 30%;
      }
    }

    .third-block-mobile {
      &:after {
        content: '3';
        bottom: 349px;
        left: 34%;
      }
    }

    .fourth-block-mobile {
      &:after {
        content: '4';
        bottom: 342px;
        left: 74%;
      }
    }

    .text {
      font-size: 20px;
      font-weight: $fontWeight300;
      line-height: 28px;
      width: 175px;
      text-align: left;
    }

    .first-block {
      left: 4%;
      top: 7%;

      &:before {
        bottom: -203%;
        height: 153px;
        right: -13%;
        border-right: 1px dashed rgba(255,255,255,.5);
      }
    }

    .second-block {
      left: 48%;
      top: -18%;

      &:before {
        height: 75px;
        width: 260px;
        bottom: -94%;
        left: -42%;
        border-left: 1px dashed rgba(255,255,255,.5);
      }

      &:after {
        bottom: -106%;
        right: 131%;
      }

      .text {
        text-align: right;
      }
    }

    .third-block {
      right: 24%;
      top: 62%;

      &:before {
        height: 120px;
        bottom: 15%;
        right: -13%;
        border-top: none;
        border-bottom: 1px dashed rgba(255,255,255,.5);
        border-right: 1px dashed rgba(255,255,255,.5);
      }

      &:after {
        bottom: 256%;
        right: -24%;
      }
    }

    .fourth-block {
      bottom: 56%;
      left: 32%;

      &:before {
        bottom: -123%;
        height: 98px;
        right: -1%;
        border-right: 1px dashed rgba(255,255,255,.5);
      }

      &:after {
        bottom: -157%;
        right: -7%;
      }
    }

    img {
      z-index: 100;
    }
  }

  .btn-container {
    margin: 15px auto 0;
  }
}
