<!-- MAIN CONTENT TEMPLATE -->

<% var data = {
title: "Under Gram",
author: "Oksi"
}; %>

<!-- HEADER -->
<%= _.template(require('./../includes/header.html'))(data) %>

<div id="mainPage" class="container-fluid main-container">
  <div class="row">
    <!-- BANNER SECTION -->
    <%= _.template(require('./../includes/banner.html'))(data) %>
    
    <!-- ABOUT US SECTION -->
    <%= _.template(require('./../includes/about.html'))(data) %>

    <!-- Craftsmanship and Durability SECTION -->
    <%= _.template(require('./../includes/craftsmaship.html'))(data) %>

    <!-- MIDDLE BANNER SECTION -->
    <%= _.template(require('./../includes/middle-banner.html'))(data) %>
  
    <!-- BLOCK WITH SLIDER 360 -->
    <%= _.template(require('./../includes/slider-360grad.html'))(data) %>
  </div>
</div>


<!-- FOOTER -->
<%= _.template(require('./../includes/footer.html'))(data) %>
