@import "~bootstrap/scss/bootstrap";
@import "tools/variables.scss";

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  font-family: $Montserrat;
}

li {
  list-style: none;
}

.main-container {
  min-height: calc(100vh - 384px);
}
//modules
@import "modules/header.scss";
@import "modules/footer.scss";
