$font-stack: -apple-system, BlinkMacSystemFont,Roboto,'Open Sans','Helvetica Neue',sans-serif;
$Montserrat: 'Montserrat', sans-serif;
$fontWeight300: 300;

$black:       #000000;
$white:       #ffffff;
$main-bg:     #0D1426;

$font16px:    16px;

