$font-stack: -apple-system, BlinkMacSystemFont,Roboto,'Open Sans','Helvetica Neue',sans-serif;
$Montserrat: 'Montserrat', sans-serif;
$Yesteryear: 'Yesteryear', cursive;
$fontWeight300: 300;
$fontWeight400: 400;
$fontWeight700: 700;

$black:           #000000;
$white:           #ffffff;
$main-bg:         #0D1426;
$blue:            #435279;
$lightblue:       #C7D1EF;
$superlightblue:  #EFF3FF;
$presed-gold:     #816539;    //for Pressed buttons
$main-gold:       #B38F57;
$light-gold:      #E7BF85;
$grey:            #D7D7D7;
$main-color:      #333333;
$font-color:      #20293F;

$font16px:    16px;
$font18px:    18px;

